In [1]:
# Japanese
# [pandasのSettingWithCopyWarningを理解する (1/3) - 子供の落書き帳 Renaissance](https://linus-mk.hatenablog.com/entry/2019/02/02/200000)
# https://linus-mk.hatenablog.com/entry/2019/02/02/200000

# English
# [SettingwithCopyWarning: How to Fix This Warning in Pandas – Dataquest](https://www.dataquest.io/blog/settingwithcopywarning/)
# https://www.dataquest.io/blog/settingwithcopywarning/

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('data/Xbox 3-day auctions.csv')
data.head()

    auctionid    bid   bidtime          bidder  bidderrate  openbid  price
0  8213034705   95.0  2.927373        jake7870           0     95.0  117.5
1  8213034705  115.0  2.943484   davidbresler2           1     95.0  117.5
2  8213034705  100.0  2.951285  gladimacowgirl          58     95.0  117.5
3  8213034705  117.5  2.998947         daysrus          10     95.0  117.5
4  8213060420    2.0  0.065266      donnie4814           5      1.0  120.0

In [5]:
data[data.bidder == 'parakeet2004']

    auctionid    bid   bidtime        bidder  bidderrate  openbid  price
6  8213060420   3.00  0.186539  parakeet2004           5      1.0  120.0
7  8213060420  10.00  0.186690  parakeet2004           5      1.0  120.0
8  8213060420  24.99  0.187049  parakeet2004           5      1.0  120.0

In [8]:
data[data.bidder == 'parakeet2004']['bidderrate'] = 100

/Users/yk/.pyenv/versions/anaconda3-5.3.1/envs/gis/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
# SettingWithCopyWarning occured and data is not updated
data[data.bidder == 'parakeet2004']

    auctionid    bid   bidtime        bidder  bidderrate  openbid  price
6  8213060420   3.00  0.186539  parakeet2004           5      1.0  120.0
7  8213060420  10.00  0.186690  parakeet2004           5      1.0  120.0
8  8213060420  24.99  0.187049  parakeet2004           5      1.0  120.0

In [16]:
# setting the new value
data.loc[data.bidder == 'parakeet2004', 'bidderrate'] = 100

# taking a look at the result, and
data[data.bidder == 'parakeet2004']

    auctionid    bid   bidtime        bidder  bidderrate  openbid  price
6  8213060420   3.00  0.186539  parakeet2004         100      1.0  120.0
7  8213060420  10.00  0.186690  parakeet2004         100      1.0  120.0
8  8213060420  24.99  0.187049  parakeet2004         100      1.0  120.0